<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Blog focused on tech topics around artificial intelligence, from hard AI algorithms and maths, through other computer science topic, to entrepreneurship">
    <meta name="author" content="Kacper Kielak">
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/blog.css"/>
    <title>Kacper Kielak - Blog</title>
</head>

<body>
  <%- include('partials/blogNavbar') %>

  <div class="contaier-fluid bg-lgrey">
    <div class="container">
      <div class="col-md-8">
        <% chosenPosts.forEach((post) => { %>
          <article>
            <h2>
              <a href="/blog/post/<%= post.shortTitle %>"><%= post.title %></a>
            </h2>
            <div class="row">
              <div class="left-details col-sm-6 col-md-6">
                <span class="glyphicon glyphicon-pencil"></span> <a href="/blog/post/<%= post.shortTitle %>#comments"><%= post.comments.length %> comment(s)</a>
              </div>
              <div class="right-details col-sm-6 col-md-6">
                <span class="glyphicon glyphicon-time"></span> <%= post.date.toDateString() %>
              </div>
            </div>
            <hr>

            <a href="/blog/post/<%= post.shortTitle %>"><img src="/img/blog/<%= post.img %>" class="img-responsive"></a>
            <br/>
            <p><%- post.intro %></p>

            <p class="text-right">
                <a href="/blog/post/<%= post.shortTitle %>" class="text-right">
                    continue reading...
                </a>
            </p>
            <hr>
        </article>
      <% }) %>
    </div>

    <div class="col-md-4">
      <%- include('partials/blogPanel') %>
    </div>

  </div>
</div>
<%- include('partials/footer') %>
<script src="/js/jquery-3.1.0.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/blog.js"></script>
</body>
</html>
