<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Kacper Kielak - Blog">
    <meta name="author" content="Kacper Kielak">
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/blog.css"/>
    <title>Kacper Kielak - Blog</title>
</head>

<body>
  <nav id="navbar-fixed" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-content-fixed">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navbar-content-fixed">
        <ul class="nav navbar-nav">
          <li><a href="/">HOME</a></li>
          <li><a href="/blog">BLOG</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="contaier-fluid bg-lgrey">
    <div class="container">
      <div class="col-md-8">
        <% if(chosenPosts.length < 1){ %>
          <%= errMessage %>
        <% } %>
        <% chosenPosts.forEach((post) => { %>

          <article>
            <h2>
              <a href="/blog/post/<%= post.title %>"><%= post.title %></a>
            </h2>
            <div class="row">
                <div class="left-details col-sm-6 col-md-6">
                  <span class="glyphicon glyphicon-pencil"></span> <a href="/blog/post/<%= post.title %>#comments">20 Comments</a> <!--TODO implement -->
                </div>
                  <span class="glyphicon glyphicon-time"></span> <%= post.date %>
                </div>
                <div class="right-details col-sm-6 col-md-6">
            </div>
            <hr>

            <a href="/blog/post/<%= post.title %>"><img src="http://placehold.it/900x300" class="img-responsive"></a>
            <br/>
            <p class="lead"><%= post.intro %>..</p>

            <p class="text-right">
                <a href="/blog/post/<%= post.title %>" class="text-right">
                    continue reading...
                </a>
            </p>
            <hr>
        </article>
      <% }) %>
    </div>
    <%- include('partials/blogPanel') %>
  </div>
</div>
<%- include('partials/footer') %>
<script src="/js/jquery-3.1.0.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>
