<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Kacper Kielak">
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/blog.css"/>
    <link rel="stylesheet" href="/css/latex.css"/>
    <title><%= title %></title>
</head>

<body>

  <%- include('partials/blogNavbar') %>

  <div class="contaier-fluid bg-lgrey">
    <div class="container">
      <div class="col-md-8">
        <article>
          <h2>
            <%= title %>
          </h2>
          <div class="row">
              <div class="left-details col-sm-6 col-md-6">
                <span class="glyphicon glyphicon-pencil"></span> <a id="comments-number" href="#comments"></a>
              </div>
              <div class="right-details col-sm-6 col-md-6">
                <span class="glyphicon glyphicon-time"></span> <%= date.toDateString() %>
              </div>
          </div>
          <hr>

          <!--<img src="http://placehold.it/900x300" class="img-responsive">-->
          <br/>
          <p><%- intro %> </p> <!-- TODO dopracuj -->
          <br/>
          <img src="/img/blog/<%= img %>" class="img-responsive"/>
          <br/><br/>
          <p> <%- body %></p>
          <!--<ul class="pager">
              <li class="previous">
                  <a href="#">← Previous</a> TODO add in the future
              </li>
              <li class="next">
                  <a href="#">Next →</a>
              </li>
          </ul>-->
          <hr>
      </article>

      <div class="well">
        <h4>Leave a comment</h4>
        <form id="comment-form" class="clearfix" role="form">
          <div class="col-md-6 form-group">
              <label class="sr-only" for="name">Name</label>
              <input name="name" type="text" class="form-control" id="name" placeholder="Name">
          </div>

          <div class="col-md-6 form-group">
              <label class="sr-only" for="email">Email</label>
              <input name="email" type="email" class="form-control" id="email" placeholder="Email">
          </div>

          <div class="col-md-12 form-group">
              <label class="sr-only" for="text">Comment</label>
              <textarea name="text" class="form-control" id="text" placeholder="Comment"></textarea>
          </div>

          <div class="col-md-6 form-group" role="alert">
            <p id="comment-error" class="text-danger"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            <span id="comment-error-message"></span> </p>
          </div>

          <div class="col-md-6 form-group text-right">
              <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
      <hr/>

      <input type="hidden" id="short-title" value="<%=shortTitle%>">

      <ul id="comments" class="comments">
      <% comments.forEach((comment) => { %>
          <li class="comment">
              <div class="clearfix">
                  <h4 class="pull-left">comment.user</h4>
                  <p class="pull-right">comment.date</p>
              </div>
              <p>
                  <em>comment.text</em>
              </p>
          </li>
        <% }); %>
      </ul>
    </div>
    <div class="col-md-4">
      <%- include('partials/blogPanel.ejs') %>
    </div>
  </div>
</div>


  <%- include('partials/footer') %>
  <script src="/js/jquery-3.1.0.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/blog.js"></script>
  <script src="/js/jquery.form.min.js"></script>
  <script src="/js/comments.js"></script>
</body>
</html>
